language: ruby
cache: bundler
dist: trusty

before_install:
  - gem update --system
  - gem install bundler

rvm:
  - 2.4.4
  - 2.5.1

branches:
  only:
    - master

# The integration tests need to see installed gems.
script: rspec --color --format progress
